*.swp
*.log
*.log.*
*.log-*
.DS_Store
mirakurun/data/*
epgstation/custom.Dockerfile
epgstation/thumbnail/*.jpg
epgstation/data/streamfiles/*.ts
epgstation/data/streamfiles/*.m3u8

epgstation/config/enc.js
epgstation/config/epgUpdaterLogConfig.yml
epgstation/config/serviceLogConfig.yml
epgstation/config/operatorLogConfig.yml
mirakurun/data/*

mysql/*

!.gitkeep